body > main > header{
    text-align: center;
}

body > main > section.download{
    max-width: 500px;
    text-align: center;
    margin: 0 auto;
}

body > main > section.download a.button.primary{
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    cursor: pointer;
    display: inline-block;
    padding: 12px;
    color: white;
    font: inherit;
    font-weight: 700;
    margin: 20px auto 0 auto;
    background-color: rgb(0,129,69);
    border-radius: 2px;
}

body > main > section.download a.button.primary:hover{
    text-decoration: none;
    color: white;
}

body > main > section.download a.button.primary:not([href=""]):active{
    background-color: rgb(0,103,55);
}

body > main > section.download a.button.primary[href=""]{
    opacity: 0.5;
    cursor: default;
}